# Backend general config
DOMAIN='localhost:3000'
SITE_NAME='REACT DJANGO BOILERPLATE'
SITE_OWNER_NAME=''
ADMIN_SITE_HEADER='Django Administration'
API_BROWSER_HEADER='Django API'

# Backend pagination config
DJANGO_DEFAULT_PAGE_SIZE=25

# Backend security config
DJANGO_ENV='development'
DJANGO_ALLOWED_HOSTS='*'
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_DEFAULT_THROTTLE_RATE_ANON='60/minute'
DJANGO_DEFAULT_THROTTLE_RATE_USER='120/minute'
DJANGO_SECRET_KEY=''

# Backend data servers config
DATABASE_NAME=''
DATABASE_OWNER=''
DATABASE_PASSWORD=''
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_CONN_MAX_AGE=60

# Backend timezone config
DEFAULT_TIME_ZONE='UTC'

# Frontend general config
REACT_APP_WS_DSN='localhost:8000'
REACT_APP_SITE_NAME='Django React Boilerplate'
REACT_APP_MAX_PROFILE_PICTURE_SIZE=10240
REACT_APP_MAX_PROFILE_PICTURE_RESOLUTION=1024
